################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

build/*
test/files_for_testing/sample_fort.14.out
test/files_for_testing/correct_input.15
scripts/build/config-kazbek.txt