################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

build/*
scripts/build/config-kazbek.txt
test/files_for_testing/sample_fort.14.out