################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

build/*
test/sample_fort.14.out